@model BNB

<h1>@Model.Name</h1>

<hr>
<div asp-validation-summary="All"></div>
@if(@Model.Messages.Count() != 0) {
    <ul>
        @foreach(var m in @Model.Messages){
            <li>@m.Text - <em>@m.Visitor.Name</em></li>
        }
        </ul>
             } else {
                <p> There are no messages yet. </p>
        }
    

    <p> Would you like to leave a message for @Model.Name? </p>
    @Html.Partial("CreateMessage", new Message{ BNB = @Model })